<div class="banner">
	<%= image_tag "shadetreebannersmall.jpg" %>
</div>
<div class="outer">
	<%= image_tag "hempburlapscales.jpg", size: "500x300", class: "left2" %>
	<div class="right text">
		<h3 class="title">
			About
		</h3>
		<p>
			Thank you for your interest in Shadetree Custom Composites.
		</p>
		<br/>
		<p>
			All of our products are handmade in Jackson Michigan, USA from quality materials.
		</p>
		<br/>
		<p>
			We use a high quality, water clear aero-marine epoxy resin in everything we make. It is the same type of resin used to lay up aircraft wings and boat hulls; it is expensive, but it makes the best possible product for you, our customer. The resin cures hard, is highly chemical resistant and rated to a minimum of 280 degrees Fahrenheit.
		</p> 
		<br/>
		<p>
			Thanks again for looking!
		</p>
	</div>
</div>