<div class="outer">
	<h1 class="center text">Shadetree Custom Composites</h1>
</div>
<div class="outer">
	<%= image_tag "hempburlapscales.jpg", size: "500x300", class: "left2" %>
	<div class="right text">
		<h3 class="title">
			About
		</h3>
		<p>
			Thank you for the interest in Shadetree Custom Composites. All of my products are handmade in Jackson Michigan, USA from quality materials.

			The composites I make for knife handles are very tough, warm to the touch and are very distinctive looking. From team colors to subdued and camouflage colors, no problem. Contact me and let’s discuss your project and what I can do for you.

			I use a high quality, water clear aero-marine epoxy resin in everything I make. It is the same type of resin used to lay up aircraft wings and boat hulls; it is expensive, but it makes the best possible product for you, my customer. The resin cures hard, is highly chemical resistant and rated to a minimum of 280 degrees Fahrenheit. 

			Some of the materials I use as substrates are cotton, linen, canvas, burlap, carbon fiber, fiberglass and other fibers. These materials can be mixed and matched in all sorts of colors and combination of colors and materials. I can flat lay the materials or twist, shred and otherwise manipulate the materials for interesting patterns. Dyes and glow powders can be added for unique effects.

			My present maximum and preferred size just now is 12” x 18” for flat laid composites. Prices for this size start about $195, depending on materials and thickness. 

			I’ll be happy to quote other styles, sizes and materials, as well as adding glow dust and dyes.

			The best way to contact me would be through email. PMs are ok for questions etc., but it is easier for me to track orders thru email.

			Once again, thanks for your interest,

			-Todd 
		</p>
	</div>
</div>