<div class="outer">
	<h1 class="center text">Shadetree Custom Composites</h1>
</div>
<div class="outer">
	<%= image_tag "hempburlapscales.jpg", size: "500x300", class: "left" %>
	<p class="right text">
		Shadetree Custom Composites was started by Todd Combs. Now it is run by his son Dylan Combs.
	</p>
</div>