html, body {
	min-height: 100%;
}

body {
	background-color: #006227;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	//background: -webkit-linear-gradient(#6DD66F, #177519); /* For Safari */
	//background: -o-linear-gradient(#6DD66F, #177519); /* For Opera 11.1 to 12.0 */
	//background: -moz-linear-gradient(#6DD66F, #177519); /* For Firefox 3.6 to 15 */
	//background: linear-gradient(#6DD66F, #177519); /* Standard syntax (must be last)*/
}

.navbar-inverse {
    //background: linear-gradient(to bottom, #B8E5FA 0%,#B8E5FA 100%) !important;
    background-color: #B8E5FA;
    border-color: #006227;
}

.navbar-brand,
ul.nav li a {
	color: #4c3a2c !important;
    //text-shadow: 1px 1px 0 #006227 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.outer {
	display: table;
	width: 90%;
	margin: 10px auto;
	text-align: center;
	background-color: #B8E5FA;
	//border:2px solid;
	border-radius:25px;
	//border-color: #003300;
	padding: 20px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.left1 {
	display: table-cell;
	float: left;
	margin: 10px 10px;
	text-align: center;
	//background-color: #D0D0C1;
	//border:2px solid;
	//border-radius:25px;
	//border-color: #003300;
	padding: 20px;
	width: 200px;
}

.left2 {
	display: table-cell;
	float: left;
    width: 50%;
    height: auto;
	margin: 10px 10px;
	text-align: center;
	//background-color: #eaeadf;
	//border:2px solid;
	//border-radius:25px;
	//border-color: #003300;
	padding: 20px;
}

.right {
	//float: right;
	padding: 20px;
	margin-left: 550px;
	//margin-right: auto;
}

.right2 {
	display: table-cell;
	float: right;
	margin: 12px 10px;
	text-align: center;
	//background-color: #eaeadf;
	//border:2px solid;
	//border-radius:25px;
	//border-color: #003300;
	padding: 20px;
}

.text {
	color: #4c3a2c;
    //text-shadow: 1px 1px 0 #006227;
}

.title {
	font-weight: bold;
    font-size: 150%
}

.button {
	color: white;
	background-color: #5aac41;
	border-radius: 15px;
}

.image {
    height: 100%;
    width: 100%;
}

.banner {
    display: table;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
}

.banner img{
    height: 100%;
    width: 100%;
    border-radius:25px;
}

.vert {
    vertical-align: middle;
}

.price {
    display: table-cell;
    float: left;
    width: 20%;
    height: auto;
    margin: 10px 10px;
    text-align: center;
    //background-color: #eaeadf;
    //border:2px solid;
    //border-radius:25px;
    //border-color: #003300;
    padding: 20px;
}