<div class="outer">
  <h1 class="center text">Products</h1>
  <p>Purchasing products through this site is still under developement. If you would like to purchase one of the products please use this link to Shadetree's Blade Forums purchasing thread. Thank you for visiting.</p><br/>
  <a href="http://www.bladeforums.com/forums/showthread.php/1191961-Shadetree-Herringbone-Electric-Orange-and-More!!!?highlight=shadetree">Purchase products here</a>
</div>
<div class="outer">
  <% @products.each do |product| %>
	  <a href="/products/<%= product.id %>">
	    <div class= "left1">
	      <%= image_tag product.img, size: "150x100" %><br/><br/>
	      <%= product.name %>
	    </div>
	  </a>
  <% end %>
</div>